<%- include('partials/header') %>
<<script src="js/fabric.min.js"></script>
<script src="<script src="js/fabric.min.js"></script>
		<script src="https://c4.wallpaperflare.com/wallpaper/133/1006/388/kingdom-hearts-wallpaper-preview.jpg"></script>
		<script src="js/app.js?0.1.0"></script>
		<style type="text/css">"></script>
<script src="js/app.js?0.1.0"></script>
<style type="text/css">
h2{
    background-attachment: fixed;
}

</style>

<h2>Kingdom Hearts Instagram</h2>

<img src="https://c4.wallpaperflare.com/wallpaper/133/1006/388/kingdom-hearts-wallpaper-preview.jpg" alt="" />

<%- include('partials/footer') %>

